<div class="LyContents MdCF">
  <div class="LyTop" role="main">
    <div class="lyTopInner">
      <div class="MdHeading03">
        <%= form_for(@matome) do |f| %>
          <%= render 'shared/error_messages', object: f.object %>

          <%= f.text_field :title, placeholder: "まとめタイトルを入力 (50文字以内)" %>
          <%= f.text_area :content, placeholder: "*テキストを入力" %>
          <% if @matome.image? %>
            <%= image_tag @matome.image.url %>
          <% end %>
          <%= f.file_field :image %>
          <%= f.text_field :remote_image_url, placeholder: "image url" %>
          <%= f.hidden_field :image_cache %>

          <% if @matome.persisted? && @matome.image? %>
            <%= f.check_box :remove_image %>
            画像を削除
          <% end %>

          <div class="MdMTMEditHead01">
            <div class="mdMTMEditHead01Inner">
              <p class="mdMTMEditHead01Ttl">まとめ作成</p>
              <p class="mdMTMEditHead01Btn">
              <span class="MdBtn01SaveDraft01">
                <%= f.submit '下書きを保存', class: 'mdBtn01SaveDraft01Btn' %>
              </span>
              <span class="MdBtn01Publish01">
                <%= f.submit '公開', class: 'mdBtn01Publish01Btn' %>
              </span>
              <span class="MdBtn01Cancel02">
                <a class="mdBtn01Cancel02Btn" >キャンセル</a>
              </span>
              </p>
            </div>
          </div>
        <% end %>
      </div>
      <div class="MdMTMWidgetUtil01">
        <p class="mdMTMWidgetUtil01Ttl">アイテムを追加</p>
        <ul class="mdMTMWidgetUtil01List">
          <li class="mdMTMWidgetUtil01Li"><a  class="mdMTMWidgetUtil01BtnLink" >リンク</a></li>
          <li class="mdMTMWidgetUtil01Li"><a  class="mdMTMWidgetUtil01BtnImg" >画像</a></li>
          <li class="mdMTMWidgetUtil01Li"><a  class="mdMTMWidgetUtil01BtnVideo" >動画</a></li>
          <li class="mdMTMWidgetUtil01Li"><a  class="mdMTMWidgetUtil01BtnQuote" >引用</a></li>
          <li class="mdMTMWidgetUtil01Li"><a  class="mdMTMWidgetUtil01BtnTwitter" >Twitter</a></li>
          <li class="mdMTMWidgetUtil01Li"><a  class="mdMTMWidgetUtil01BtnTxt" >テキスト</a></li>
          <li class="mdMTMWidgetUtil01Li"><a  class="mdMTMWidgetUtil01BtnTtl" >見出し</a></li>
          <li class="mdMTMWidgetUtil01Li"><a class="mdMTMWidgetUtil01BtnFV" >お気に入りからアイテムを追加</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="lyContentsWrap MdCF">
    <div class="LyMain" role="main">
      <div class="ArMain01">
        <div class="MdMTMWidgetList01 ui-sortable">
          <div class="widgets">
            <div class="MdMTMWidget01 ExSelected hide">
            </div>
            <div class="MdMTMWidget01 ExSelected hide">
              <%= render 'matomes/block_form_fields', name: 'mimages' %>
            </div>
            <div class="MdMTMWidget01 ExSelected hide">
            </div>
            <div class="MdMTMWidget01 ExSelected hide">
            </div>
            <div class="MdMTMWidget01 ExSelected hide">
            </div>
            <div class="MdMTMWidget01 ExSelected hide">
              <%= render 'matomes/block_form_fields', name: 'texts' %>
            </div>
            <div class="MdMTMWidget01 ExSelected hide">
              <%= render 'matomes/block_form_fields', name: 'midasis' %>
            </div>
          </div>
          <div class="matomecontents">
            <% @matome.blocks.order(:order).each do |b| %>
              <%= render 'blocks/edit_block', block: b %>
            <% end %>
          </div>
        </div>
        <div class="MdPagination03">
          <strong></strong>
        </div>
      </div>
    </div>
    <div class="LySub">
    </div>
  </div>
</div>




