<nav>
  <ul>
    <% if signed_in? %>
      <li>
        <%= link_to current_user.name, current_user %>
        <span class="nav-separator">|</span>
      </li>
      <li>
        <%= link_to "お知らせ", "#" %>
        <span class="nav-separator">|</span>
      </li>
      <li>
        <%= link_to "まとめ作成", new_matome_path %>
        <span class="nav-separator">|</span>
      </li>
      <li id="fat-menu" class="dropdown">
        <a class="dropdown-toggle" href="#" data-toggle="dropdown">
          <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
          <li>設定</li>
          <li>ヘルプ</li>
          <li>ログアウト</li>
        </ul>
      </li>
    <% else %>
      <li>
        <%= link_to "まとめ作成", new_matome_path %>
        <span class="nav-separator">|</span>
      </li>
      <li>
        <%= link_to "会員登録 (無料)", signup_path %>
        <span class="nav-separator">|</span>
      </li>
      <li>
        <%= link_to "ログイン", signin_path %>
        <span class="nav-separator">|</span>
      </li>
    <% end %>
  </ul>
</nav>

