<div class="lyHeadNav" role="navigation">
  <nav>
    <% if signed_in? %>
      <ul class="MdHeadUtil01 mdHeadUtil01Login">
        <li class="mdHeadUtil01Li">
          <%= link_to current_user.name, current_user %>
          <span class="MdHeadSeparator01">|</span>
        </li>
        <li class="mdHeadUtil01Li">
          <%= link_to "お知らせ", "#" %>
          <span class="MdHeadSeparator01">|</span>
        </li>
        <li class="mdHeadUtil01Li">
          <%= link_to "まとめ作成", new_matome_path %>
          <span class="MdFootSeparator01">|</span>
        </li>
        <li id="fat-menu" class="dropdown mdHeadUtil01Li">
          <a class="dropdown-toggle" href="#" data-toggle="dropdown">
            <b class="caret"></b>
          </a>
          <ul class="dropdown-menu mdHeadUtil01Sub">
            <li class="mdHeadUtil01SubLi">
              <%= link_to "設定", "" %>
            </li>
            <li class="mdHeadUtil01SubLi">
              <%= link_to "ヘルプ", "" %>
            </li>
            <li class="mdHeadUtil01SubLi">
              <%= link_to "ログアウト", signout_path, method: "delete" %>
            </li>
          </ul>
        </li>
      </ul>
    <% else %>
      <ul class="MdHeadUtil01">
        <li class="mdHeadUtil01Li">
          <%= link_to "まとめ作成", new_matome_path %>
          <span class="MdHeadSeparator01">|</span>
        </li>
        <li class="mdHeadUtil01Li">
          <%= link_to "会員登録 (無料)", signup_path %>
          <span class="MdHeadSeparator01">|</span>
        </li>
        <li class="mdHeadUtil01Li">
          <%= link_to "ログイン", signin_path %>
          <span class="MdHeadSeparator01">|</span>
        </li>
      </ul>
    <% end %>
  </nav>
</div>
